.fake-container {
    padding-top: 150px;
  }
  
  .payment-container {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: fit-content;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .payment-form {
    display: flex;
    flex-direction: column;
  }
  
  .payment-form .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .payment-form .form-row .form-group {
    width: 48%;
  }
  
  .payment-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  .payment-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-button {
    width: 20%;
    padding: 10px;
    background-color: blueviolet;
    color: #fff;
    border: 1px solid blueviolet;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s;
  }
  
  .submit-button:hover {
    background-color: transparent;
    color:black
  }
  
  .payment-status {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #333;
  }
  
  .payment-pic {
    height: 450px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .payment-form-details {
    width: 50%;
    padding-right: 20px;
  }
  
  .payment-image-container {
    width: 40%;
    height: fit-content;
    overflow:visible;
    height: 450px;
  }
  