.footer {
  margin-top: 100px;
  background-color: blueviolet;
  color: #f0f0f0;
  padding: 40px;
  text-align: left;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-section,
.contact-section {
  flex-basis: 45%;
  margin-bottom: 20px;
}

.about-section h2,
.contact-section h2 {
  font-size: 1.8rem;
  color: white;
  margin-bottom: 10px;
  border-bottom: 2px solid white;
  display: inline-block;
}

.about-section p,
.contact-section p {
  font-size: 1rem;
  line-height: 1.5;
}

.contact-section a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.social-icons {
  gap: 15px;
  margin-top: 10px;
}

.social-icons a {
  color: white;
  font-size: 1.8rem;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: left;
  margin-top: 20px;
  font-size: 0.9rem;
  color: #ccc;
}
.faq-link{
  text-decoration: none;
  color: white;
}
.faq-link:hover{
  text-decoration: underline;
}